<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional meta tags -->
    <meta name="Description" content="Gym Journal Application">

    <!-- favicons -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png"> -->

    <!-- PWA Stuff -->
    <meta name="theme-color" content="#EB6864"/>
    <!-- <link rel="manifest" href="/manifest.json"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Gym Journal App</title>
  </head>
  <body>

    <% include navbar %>