<% include partials/top %>

<div id="homeContainer" class="container mt-3">

  <h1 class="text-center">Profile Page</h1>

  <table class="table">
    
    <thead class="table-dark">
      
      <tr>
        
        <th>Email</th>

      </tr>

    </thead>

    <tbody>
      
      <tr>
        
        <th><%= user.email %></th>

      </tr>

    </tbody>

  </table>

  <a class="btn btn-lg btn-lg btn-outline-primary btn-block" href="/users/me/edit">Edit User</a>

  <a class="btn btn-lg btn-lg btn-outline-primary btn-block" href="/exercises/">View Exercises</a>

  </div>

</div>

<% include partials/bottom %>
